<div class="web-container">
	<div class="title">
	<!--
		<h1 class="heading">Swagger</h1>
		<h3 class="sub-heading">Because maps, analytics, synergy&reg;, and swag #yoloSwag #BVIO2014</h3>
	-->
		<h1 class="heading">Pinpoint</h1>
		<h3 class="sub-heading">Targeting customer/product associations based on review location #BVIO2014</h3>
	</div>
	<div class="app-container">
		<div class="navigation">
			<ul>
				<li class="navigation-title">Categories</li>
				<li>Beauty Bars</li>
				<li>Aerosols</li>
				<li>MenCareBar</li>
				<li>MenCareWash</li>
				<li class="selected">Body Wash</li>
				<li>Body Lotions</li>
				<li>MenCare - Face Care</li>
				<li>Color</li>
				<li>Shampoos</li>
				<li>Clinical Protection</li>
				<li>Body Mists</li>
				<li>Conditioners</li>
			</ul>
		</div>
		<div class="feed-container">
			<div class="map-container"></div>
			<div class="product-table-container">
				<table>
					<thead>
						<th>Product Name</th>
						<th>Average Rating</th>
						<th>Satisfaction</th>
						<th>Num of Reviews</th>
					</thead>
					<tbody>
						<tr>
							<td>go fresh ®  Burst Body Wash With NutriumMoisture ®</td>
							<td>4.75</td>
							<td>5</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Nut
							riumMoisture ®  and a calming scent leave skin feeling pampered and nourished.</td>
							<td>5</td>
							<td>5</td>
							<td>27</td>
						</tr>
						<tr class="selected">
							<td>VisibleCare&#8482; Softening Crème Body Wash</td>
							<td>4.4694</td>
							<td>4.23913</td>
							<td>49</td>
						</tr>
						<tr>
							<td>go fresh® Restore Body Wash</td>
							<td>4.7</td>
							<td>4.68333</td>
							<td>60</td>
						</tr>
					<tbody>
				</table>
			</div>
		</div>
		<div class="product-details">
			<img src="http://1.bp.blogspot.com/-3STcwMzkPoQ/UAS59n4_llI/AAAAAAAAEbM/HW6Y5ra4XfI/s1600/blog1.jpg">
			<p class="product-title">VisibleCare&#8482; Softening Crème Body Wash</p>
			<hr />
			<p class="sub-heading">Average Ratings</p>
			<span class="review-stars">&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;</span>	
			<hr />
			<p class="sub-heading">Product Recommendations</p>
			<span>-</span>
			<hr />
			<p class="sub-heading">Gender Demographics</p>
			<span class="gender-male">&#9794;&nbsp;100%</span>
			<span class="vertical-divider">|</span>
			<span class="gender-female">&#9792;&nbsp;100%</span>
		</div>
		<div class="clear"></div>
	</div>
</div>
