<div class="web-container">
	<div class="title">
	<!--
		<h1 class="heading">Swagger</h1>
		<h3 class="sub-heading">Because maps, analytics, synergy&reg;, and swag #yoloSwag #BVIO2014</h3>
	-->
		<h1 class="heading">Pinpoint</h1>
		<h3 class="sub-heading">Targeting customer/product associations based on review location #BVIO2014</h3>
	</div>
	<div class="app-container">
		<div class="navigation">
			<ul id="categoryNavigation">
				<li class="navigation-title">Categories</li>
				<li>Beauty Bars</li>
				<li>Aerosols</li>
				<li>MenCareBar</li>
				<li>MenCareWash</li>
				<li class="selected">Body Wash</li>
				<li>Body Lotions</li>
				<li>MenCare - Face Care</li>
				<li>Color</li>
				<li>Shampoos</li>
				<li>Clinical Protection</li>
				<li>Body Mists</li>
				<li>Conditioners</li>
			</ul>
		</div>
		<div class="feed-container">
			<div id="map-container" class="map-container">
				<div class="map-buttons"></div>
			</div>
			<div class="product-table-container">
				<table id="productTable">
					<thead>
						<th>Product Name</th>
						<th>Average Rating</th>
						<th>Satisfaction</th>
						<th>Num of Reviews</th>
						<th>Num of Recommendations</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="product-details">
			<img src="http://1.bp.blogspot.com/-3STcwMzkPoQ/UAS59n4_llI/AAAAAAAAEbM/HW6Y5ra4XfI/s1600/blog1.jpg">
			<p class="product-title">VisibleCare&#8482; Softening Crème Body Wash</p>
			<hr />
			<p class="sub-heading">Average Ratings</p>
			<span class="review-stars">&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;</span>	
			<hr />
			<p class="sub-heading">Top Review</p>
			<i style="font-size:12px;">"I recently bought this on a whim after being tired of my cheap $1 body wash that just felt like it was drying my skin out. I fell in love with this on the first time of using it. My husband commented on it too. He liked how my skin smelled and how soft it is now. I am hooked!"</i>
			<p style="margin:5px 0 0;">Rating Given: <i>5</i></p>
			<p style="margin:0 0 10px;">Recommended Product: <i>YES</i></p>
			<hr />
			<p class="sub-heading">Product Recommendations</p>
			<ul style="list-style-type:none;margin:10px 0;padding:0;">
				<li>Dry and Frizzy - 54%</li>
				<li>No hair - 27%</li>
				<li>Dead hair - 23%</li>
			</ul>
			<hr />
			<p class="sub-heading">Gender Demographics</p>
			<span class="gender-male">&#9794;&nbsp;100%</span>
			<span class="vertical-divider">|</span>
			<span class="gender-female">&#9792;&nbsp;100%</span>
		</div>
		<div class="clear"></div>
	</div>
</div>
