<div class="web-container">
	<div class="title">
	<!--
		<h1 class="heading">Swagger</h1>
		<h3 class="sub-heading">Because maps, analytics, synergy&reg;, and swag #yoloSwag #BVIO2014</h3>
	-->
		<h1 class="heading">Pinpoint</h1>
		<h3 class="sub-heading">Targeting customer/product associations based on review location #BVIO2014</h3>
	</div>
	<div class="app-container">
		<div class="navigation">
			<ul id="categoryNavigation">
				<li class="navigation-title">Categories</li>
				<span id="categoryNavigationList"></span>
			</ul>
		</div>
		<div class="feed-container">
			<div id="map-container" class="map-container">
				<div class="map-buttons"></div>
			</div>
			<div id='spinnerContainer' class="product-table-container">

				<table id="productTable">
					<thead>
						<th>Product Name</th>
						<th>Average Rating</th>
						<th>Satisfaction</th>
						<th>Num of Reviews</th>
						<th>Num of Recommendations</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="product-details">
			<img src="">
			<p class="product-title"></p>
			<hr />
			<p class="sub-heading">Average Ratings</p>
			<span class="review-stars"></span>	
			<hr />
			<p class="sub-heading">Top Review</p>
			<i class="top-review"></i>
			<p class="top-review-rating">Rating Given: <i></i></p>
			<p class="top-review-recommended">Recommended Product: <i></i></p>
			<hr />
			<p class="sub-heading">Product Recommendations</p>
			<ul class="product-tag-recommendations"></ul>
			<hr />
			<p class="sub-heading">Gender Demographics</p>
			<span class="gender-male"></span>
			<span class="vertical-divider">|</span>
			<span class="gender-female"></span>
		</div>
		<div class="clear"></div>
	</div>
</div>
