<div class="outer-wall">
	<div class="title">
		<h1 class="heading">Swagger</h1>
		<h3 class="sub-heading">Because maps, analytics, synergy, and swag #yoloSwag #BVIO2014</h3>
	</div>
	<div class="navigation">
		<ul>
			<li>Men+Care Extra Fresh Body and Face Bar</li>
			<li>Men+Care Clean Comfort Body and Face Wash</li>
			<li>Men+Care Active Clean Shower Tool</li>
		</ul>
	</div>
</div>
