/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.navigation {
	ul {
		background-color: rgba(0,0,0,0.7);
		list-style-type: none;
		width: 210px;
	}

	li {
		color: #ebecf1;
	}
}

.heading {
	font-size: 100px;
	font-weight: 100;
	margin: 0px;
}

.hollow-navigation {
	background-color: rgba(0,0,0,0.2);
	height: 500px;
	width: 210px;
}

.outer-wall {
	margin: 20px;
}

.sub-heading {
	font-weight: 100;
	margin: 0px;
}

.title {
	text-align: center;
}
